// COLOR
$red: #BD0008;
$blue: #036EB8;
$purple: #440062;
$yellow: #DABC00;
$black: #2C0303;
$white: #fff;

// COLOR SET
$main-color: $red;
$secondary-color: $purple;
$third-color: $blue;
$text-color: $black;
$color-necessary: #ffe6cc;

// SNS
$color-facebook: #3b5998;
$color-x: #000;
$color-line: #00bb00;

// その他のカラーセットについてはBootstrapのCSS カスタムプロパティも参照してください。
// かなり多くのカラーが定義されています。
// https://getbootstrap.jp/docs/5.3/customize/color/
// 利用例: background-color: var(--bs-orange);