<a href="{{ post.url }}" class="row align-items-center mb-3">
  <div class="col-4 col-lg-3">
    {% if post.thumbnail %}
    <img src="{{ post.thumbnail }}" alt="{{ post.title }} のサムネイル画像" class="img-fluid img-thumbnail" loading="lazy">
    {% else %}
    <img src="/img/ogp.jpg" alt="{{ post.title }} のサムネイル画像" class="img-fluid img-thumbnail" loading="lazy">
    {% endif %}
  </div>
  <div class="col-8 col-lg-">
    <p class="my-1">{{ post.date | date:"%Y.%-m.%d" }}</p>
    <p><strong>{{ post.title | liquify }}</strong></p>
  </div>
</a>