<header  class="fixed-top">
  <nav class="navbar navbar-expand-xxl header-nav">
      <a class="navbar-brand" href="/#top">
        <img src="/img/header/logo-bk.svg" class="d-inline-block align-top site-logo" alt="DojoCon Japan 2024">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">TOP</a>
          <!--<a class="nav-item nav-link active" href="/#about-coderdojo">CoderDojoとは</a> -->
          <a class="nav-item nav-link active" href="/#overview">開催概要</a>
          <a class="nav-item nav-link active" href="/#news">お知らせ</a>
          <!-- <a class="nav-item nav-link active" href="/#live">ライブ配信</a> -->
          <a class="nav-item nav-link active" href="/#sponsors">スポンサー</a>
          <!-- <a class="nav-item nav-link active" href="/#staff">スタッフ</a> -->
          <!--<a class="nav-item nav-link active" href="/timetable">タイムテーブル</a>-->
          <a class="nav-item nav-link active" href="/sessions">セッション</a>
          <a class="nav-item nav-link active" href="/events">企画</a>
          <!--<a class="nav-item nav-link active" href="/exhibition">展示</a>-->
          <!--<a class="nav-item nav-link active" href="/contest">コンテスト</a>-->
          <!--<a class="nav-item nav-link active" href="/workshops">ワークショップ</a>-->
          <!--<a class="nav-item nav-link active" href="/dojos">Dojo自慢</a>-->
          <a class="nav-item nav-link active" href="{{ site.contact }}" target="_blank">問い合わせ</a>
          <a class="nav-item nav-link active link_button" href="/registration" style="padding-left:30px;padding-right: 30px;color:white;font-weight: normal;">参加申込</a>
        </div>
      </div>
  </nav>
</header>

