/* stylesheet for `_includes/footer.html` */

footer {
  background-color: $secondary-color;
  color: #fff;
  padding-bottom: 12px;
  margin-top: auto;
  a {
    color: $white;
  }
  .share {
    display: grid;
    grid-template-columns: 1fr 1fr;
    a {
      line-height: 60px;
      height: 60px;
      width: 100%;
      display: block;
      text-align: center;
      text-decoration-line: none;
      &:hover {
        opacity: .8;
      }
    }
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    .share-twitter,
    .share-facebook,
    .share-line {
      display: block;
    }
    .share-facebook {
      background-color: $color-facebook;
    }
    .share-x {
      background-color: $color-x;
    }
    .share-line {
      background-color: $color-line;
      display: none;
    }
  }
  .footer-menu {
    .footer-menu-list {
      list-style: none;
      padding: 0;
      margin-top: 1.5em;
      li {
        display: inline;
        padding: 0 .5em;
        a {
          &:hover {
            color: white;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .share a {
    width: 100%;
  }
  .share-line {
    display: block;
  }
}
