.aboutcoderdojo {
  margin: 48px 0;
  position: relative;
  overflow-x: hidden;
  @media screen and (max-width: 992px) {
    margin:  0;
  }
  &-content {
    min-height: 700px;
    @media screen and (max-width: 992px) {
      min-height: auto;
    }
  }
  &-inner {
    margin-right: 450px;
    @media screen and (max-width: 992px) {
      margin-right: 0;
    }
  }
  &-headline {
    &-en {
      font-size: 96px;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: normal;
      margin: 0;
      @media screen and (max-width: 992px) {
        font-size: 40px;
      }
    }
    &-jp {
      font-size: 48px;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: normal;
      @media screen and (max-width: 992px) {
        font-size: 28px;
      }
    }
  }
  &-logo {
    float: left;
    margin: 0 16px 16px 0;
    width: 200px;
    height: auto;
    @media screen and (max-width: 992px) {
      width: 150px;
    }
  }
  &-slider {
    width: 700px;
    height: 700px;
    overflow: hidden;
    border-radius: 50%;
    top: 20px;
    right: -200px;
    position: absolute;
    z-index: 10;
    @media screen and (max-width: 992px) {
      position: relative;
      width: 80%;
      height: 80%;
      margin: 0 auto;
      top: 0;
      right: 0;
      overflow: hidden;
    }
  }
}