---
layout: default
---

<div class="container" style="margin-top: 140px; margin-bottom: 140px">
{% if page.categories %}
  <div class="text-center">
    <h2>{{page.categories[0] | upcase }}</h2>
  </div>
{% endif %}

  <div class="fukidashi" id='{{ page.categories[0] }}'>
    <h1>{{ page.title | liquify }}</h1>
    {% if page.categories[0] == "news" %}
    <p class="post-date">{{ page.date | date:"%Y.%-m.%-d" }}</p>
    {% elsif page.categories[0] == "workshop" or page.categories[0] == "session" %}
    <div class="tags">
      {% for tag in page.tags %}
      <span class="tag-post">{{tag}}</span>
      {% endfor %}
    </div>
    <p class="post-time">{{page.time}}</p>
    {%endif%}

    {{ content }}
  </div>
  <div class="text-center">
    <img src="/img/momotaro/inu.svg" style="width: 80px"/>
    <br>
    <a href="/news" class="btn btn-danger btn-lg mt-3">お知らせ一覧にもどる</a>
  </div>
</div>